.block_one {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(24, 169, 212);
}

.block_two {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 150, 155);
}
.textpain {
    position: absolute;
    top: 300px;
    left: 20px;
}

.textpain-enter{
    transform: translateX(-30px);
    opacity: 0;
}
.textpain-enter-active{
    transition: 0.3s;
}
.textpain-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}
.textpain-leave-active {
    transition: 0.2s;
}

.movement {
    animation: move 1s;
    animation-fill-mode: both;
}
.movement-reverse {
    animation-fill-mode: both;
    animation: moveReverse 1s;
}

@keyframes move {
    0% {
        left: 40%;
    }
    100% {
        left: 20%;
    }
}
@keyframes moveReverse {
    0% {
        left: 20%;
    }
    100% {
        left: 40%;
    }
}