.click-panel {
    position: relative;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    background-color: yellow;
}

.main-container {
    padding-top: 20px;
}
.textpain-enter{
    transform: translateX(300px);
    opacity: 0;
}
.textpain-enter-active{
    transition: 2s;
}
.textpain-leave-to {
    transform: translateX(-300px);
    opacity: 0;
}
.textpain-leave-active {
    transition: 2s;
}

.movement {
    animation: move 1s;
    animation-fill-mode: both;
}
.movement-reverse {
    animation: movereverse 1s;
    animation-fill-mode: both;
}
.movement2 {
    animation: move 1s;
    animation-fill-mode: both;
    animation-delay: .1s;
}
.movement2-reverse {
    animation: movereverse 1s;
    animation-fill-mode: both;
    animation-delay: .1s;
}
.movement3 {
    animation: move 1s;
    animation-fill-mode: both;
    animation-delay: .2s;
}
.movement3-reverse {
    animation: movereverse 1s;
    animation-fill-mode: both;
    animation-delay: .2s;
}

@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: 40%;
    }
}
@keyframes movereverse {
    0% {
        left: 40%;
    }
    100% {
        left: 0%;
    }
}