.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    margin: 0;
  }
  .carousel-pane{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .carousel-pane-item{
    height: 100%;
  }
  .fullscreen_post_bg{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-position: 50% 50%;
    z-index: -1;
    /* background-color: #d9e2ef; */
  }
  .moon{
    background: #000000 url(../../assets/images/moon.jpg) no-repeat fixed center;
    background-size: 300px;
  }
  .cat-1{
    background: #000000 url(../../assets/images/cat-1.jpg) no-repeat fixed center1;
  }
  .cat{
    background: #000000 url(../../assets/images/cat.jpg) no-repeat fixed center;
    background-size: 350px;
  }
  .cat-moon{
    background: #000000 url(../../assets/images/cat-moon.jpg) no-repeat fixed center;
    background-size: 350px;
  }
  .text-pane{
    margin-top: 200px;
    margin-left: 20px;
    color: whitesmoke;
    text-align: left;
  }
  .text-pane p.title{
    font-size: 40px;
    font-weight: 600;
  }
  .text-pane p.title-enter-active{
    transition: all 1s;
  }
  .text-pane p.title-enter{
    transform: translateX(100px);
    opacity: 0;
  }
  .text-pane p.title-leave-active{
    transition: all 0.5s;
  }
  .text-pane p.title-leave-to{
    transform: translateX(-80px);
    opacity: 0;
  }
  .text-pane p.content{
    font-size: 16px;
    font-weight: 600
  }